@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body {
    background-image: linear-gradient(to left,#F4FFF9, #D5F4E5);
    font-family: 'Nunito', sans-serif;
    color: #191C03;
    max-width: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
   

}
form {
    font-family: 'Nunito', sans-serif;
    color: #191C03;
        max-width: 300px;
        margin: -1000px auto;
        padding: 10px 40px 20px;
        background: #F4FFF9;
        border-radius: 8px;

}

input[type="text"],  
input[type="password"],
input[type="email"], 
input[type="text"] {
    font-size: 16px;
    border: solid ;
    border-color: #D5F4E5;
    height: auto;
    width: 230px;
    background-color: #F4FFF9;
    border-radius: 50px;

}

label {
    display: block;
    margin-top: 6px;
    margin-bottom: 10px;
}


header {
    min-height: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

ul, il {
    list-style: none;
    font-size: 1.2rem;
}

nav {
    background-color: #D5F4E5 ;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu2 {
    background-color: #D5F4E5 ;
    padding: 1px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:75px;
    
}

.img {
    margin: 0px 0px 1px -50px;

}

.menu {
    text-decoration: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
    
}

.menu a {
    padding: 5px;
}



a {
    text-decoration: none;
    color: #191C03;
    font-size: 17px;
}

h1{
	font-family:  'Parisienne', cursive;
	text-align: center;
	margin-top: 100px;
    font-size: 50px;
    margin-bottom: 1000px;
}

button {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    border-radius: 50px;
    border: solid ;
    border-color: #D5F4E5;
    background-color: #D5F4E5;
    width: 230px;
    position: relative;
    top:10px;
}