img {
    width:170px;
}


@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

.titulo {
    color: #ff5a5f;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    max-width: 100%;
}
.but {
    cursor: pointer;
    width: 70%;
    height: 50px;
    background-color: #390099;
    border: none;
    border-radius: 5px;
    color: white;
}
#titulo{
    padding: 20px;
    font-size: 25px;
}

#email, #senha, #senha2 {
    width: 70%;
    border-radius: 5px;
    border: solid;
    border-color:#390099;
    border-width: 1px;
}

.principal {
    outline: 1px solid #390099;
    border-radius: 5px;
}

.link {
    text-decoration: none;
    color: #ff5a5f;
}